.transMenu {
 position:absolute ; 
 overflow:hidden; 
 left:-1000px; 
 top:-1000px; 
}
.transMenu .content {
 position:absolute  ; 
}
.transMenu .items {
 width: 120px; 
 border: 0px solid #a1a0a0 ; 
 position:relative ; 
 left:0px; top:0px; 
 z-index:2; 
}
.transMenu  td
{
 padding: 5px 5px 5px 5px !important;  
 font-size: 11px !important ; 
 font-family: Tahoma, Arial, sans-serif !important ; 
 text-align: left !important ; 
 font-weight: bold !important ; 
 color: #4A4A4A !important ; 
} 
#subwrap 
{ 
 text-align: left ; 
}
.transMenu  .item.hover td
{ 
 color: #1264b8 !important ; 
}
.transMenu .item { 
 text-decoration: none ;  
 cursor: pointer; 
}
.transMenu .background {
 background-color: #E7ECF9 !important ; 
 position:absolute ; 
 left:0px; top:0px; 
 z-index:-1; 
 -moz-opacity:0.80; 
 
}
.transMenu .shadowRight { 
 position:absolute ; 
 z-index:3; 
 top:3px; width:2px; 
 -moz-opacity:0.85; 
 
}
.transMenu .shadowBottom { 
 position:absolute ; 
 z-index:1; 
 left:3px; height:2px; 
 -moz-opacity:0.85; 
 
}
.transMenu .item.hover {
 background-color: #dadada !important ; 
}
.transMenu .item img { 
 margin-left:10px !important ; 
}
table.menu {
float: left; 
 
color: #808080; padding: 6px 0; width: 82px;
 top: 0px; 
 left: 0px; 
 position:relative ; 
 margin:-4px 0 0 49px;
 border: 0px solid #FFFFFF; 
 z-index:1;
 vertical-align:top; 
}
table.menu a{
 margin:0px !important ; 
 padding: 0px 0px 0px 0px !important ; 
 display:block !important; 
 position:relative !important ; 
}
div.menu a,
div.menu a:visited,
div.menu a:link {
 width:82px; 
 height:24px; 
 font-size: 11px !important ; 
 font-family: Tahoma, Arial, sans-serif !important ; 
 text-align: center !important ; 
 font-weight: bold !important ; 
 color: #4A4A4A !important ; 
 text-decoration: none !important ; 
 margin-bottom:0px !important ; 
 display:block !important; 
 white-space:nowrap ; 
 text-indent:0px;
 line-height:23px; 
}
div.menu td {
 border-bottom: 0px dashed #FFC819 ; 
 border-top: 0px dashed #FFC819 ; 
 border-left: 0px dashed #FFC819 ; 
 background-image: URL("../images/barbg.gif") ;
 background-color: #FFFFFF !important ; 
} 
div.menu td.last {
 border-right: 0px dashed #FFC819 ;
 background-color: #FFFFFF 
} 
#trans-active a{
 color: #4A4A4A !important ; 
 background-image: URL("../images/barcurrent.gif") ;
 background-color: #FFFFFF !important ; 
} 
#menu a.hover   { 
 background-image: URL("../images/barcurrent.gif") ;
 
}
#menu span {
 display:none; 
}

