<style type="text/css">
   a.homelink {color: #9999CC; text-decoration: none}
   a.homelink:link {color: #9999CC; text-decoration: none}
   a.homelink:active {color: #9999CC; text-decoration: none}
   a.homelink:visited {color: #9999CC; text-decoration: none}
   a.homelink:hover {color: #FFFFFF; text-decoration: none}
   
   a.menulink {color: #990000; text-decoration: none}
   a.menulink:link {color: #990000; text-decoration: none}
   a.menulink:active {color: #990000; text-decoration: none}
   a.menulink:visited {color: #990000; text-decoration: none}
   a.menulink:hover {color: #FF0000; text-decoration: underline}
   
   a.bluelink {color: #000099; text-decoration: none}
   a.bluelink:link {color: #000099; text-decoration: none}
   a.bluelink:active {color: #000099; text-decoration: none}
   a.bluelink:visited {color: #000099; text-decoration: none}
   a.bluelink:hover {color: #0000FF; text-decoration: underline}
   
   a.tablink {color: Black; text-decoration: none;      }
   a.tablink:link {color: Black; text-decoration: none}
   a.tablink:active {color: Black; text-decoration: none}
   a.tablink:visited {color: Black; text-decoration: none}
   a.tablink:hover {color: #000099; text-decoration: underline;  background : Yellow;    }
   
   .SystemBox {
     	font-family : Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size : 8pt;
	    }

.SystemButton {
	font-family : Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size : 8pt;
	background-color : #CCCCFF;
	border : thin outset #B2B8FB;
}
   
</style>